In [1]:
from sklearn.datasets import load_wine
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from catboost import CatBoostClassifier
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [2]:
import os
os.getcwd()

'/Users/tahirabbas'

In [3]:
os.chdir('/Users/tahirabbas/Desktop/imp')

In [4]:
df=pd.read_csv('loco.csv')
df.head(10)

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No
5,8/7/2020 12:31,Male,19.0,Engineering,Year 2,3.50 - 4.00,No,No,No,Yes,No
6,8/7/2020 12:32,Female,23.0,Pendidikan islam,year 2,3.50 - 4.00,Yes,Yes,No,Yes,No
7,8/7/2020 12:33,Female,18.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
8,8/7/2020 12:35,Female,19.0,Human Resources,Year 2,2.50 - 2.99,No,No,No,No,No
9,8/7/2020 12:39,Male,18.0,Irkhs,year 1,3.50 - 4.00,No,No,Yes,Yes,No

In [5]:
df.columns

Index(['Timestamp', 'Choose your gender', 'Age', 'What is your course?',
       'Your current year of Study', 'What is your CGPA?', 'Marital status',
       'Do you have Depression?', 'Do you have Anxiety?',
       'Do you have Panic attack?',
       'Did you seek any specialist for a treatment?'],
      dtype='object')

In [6]:
df.drop(['Timestamp','Marital status','Do you have Panic attack?','Did you seek any specialist for a treatment?',],axis=1,inplace=True)
df.head(5)

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Do you have Depression?,Do you have Anxiety?
0,Female,18.0,Engineering,year 1,3.00 - 3.49,Yes,No
1,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,Yes
2,Male,19.0,BIT,Year 1,3.00 - 3.49,Yes,Yes
3,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,No
4,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No

In [7]:
import re

df['Your current year of Study'] = df['Your current year of Study'].str.replace(r'[Yy]ear\s*', '', regex=True)

df.head(5)

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Do you have Depression?,Do you have Anxiety?
0,Female,18.0,Engineering,1,3.00 - 3.49,Yes,No
1,Male,21.0,Islamic education,2,3.00 - 3.49,No,Yes
2,Male,19.0,BIT,1,3.00 - 3.49,Yes,Yes
3,Female,22.0,Laws,3,3.00 - 3.49,Yes,No
4,Male,23.0,Mathemathics,4,3.00 - 3.49,No,No

In [8]:
a=LabelEncoder()
df['Choose your gender']=a.fit_transform(df['Choose your gender'])
df.head(5)

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Do you have Depression?,Do you have Anxiety?
0,0,18.0,Engineering,1,3.00 - 3.49,Yes,No
1,1,21.0,Islamic education,2,3.00 - 3.49,No,Yes
2,1,19.0,BIT,1,3.00 - 3.49,Yes,Yes
3,0,22.0,Laws,3,3.00 - 3.49,Yes,No
4,1,23.0,Mathemathics,4,3.00 - 3.49,No,No

In [9]:
import pandas as pd

df['What is your CGPA?'] = df['What is your CGPA?'].str.split(' - ')
df['What is your CGPA?'] = df['What is your CGPA?'].apply(lambda x: (float(x[0]) + float(x[1])) / 2)

df.head(5)

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Do you have Depression?,Do you have Anxiety?
0,0,18.0,Engineering,1,3.245,Yes,No
1,1,21.0,Islamic education,2,3.245,No,Yes
2,1,19.0,BIT,1,3.245,Yes,Yes
3,0,22.0,Laws,3,3.245,Yes,No
4,1,23.0,Mathemathics,4,3.245,No,No

In [10]:
a=LabelEncoder()
df['Do you have Anxiety?']=a.fit_transform(df['Do you have Anxiety?'])
df.head(5)

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Do you have Depression?,Do you have Anxiety?
0,0,18.0,Engineering,1,3.245,Yes,0
1,1,21.0,Islamic education,2,3.245,No,1
2,1,19.0,BIT,1,3.245,Yes,1
3,0,22.0,Laws,3,3.245,Yes,0
4,1,23.0,Mathemathics,4,3.245,No,0

In [11]:
df['What is your course?'].unique()

array(['Engineering', 'Islamic education', 'BIT', 'Laws', 'Mathemathics',
       'Pendidikan islam', 'BCS', 'Human Resources', 'Irkhs',
       'Psychology', 'KENMS', 'Accounting ', 'ENM', 'Marine science',
       'KOE', 'Banking Studies', 'Business Administration', 'Law',
       'KIRKHS', 'Usuluddin ', 'TAASL', 'Engine', 'ALA',
       'Biomedical science', 'koe', 'Kirkhs', 'BENL', 'Benl', 'IT', 'CTS',
       'engin', 'Econs', 'MHSC', 'Malcom', 'Kop', 'Human Sciences ',
       'Biotechnology', 'Communication ', 'Diploma Nursing',
       'Pendidikan Islam ', 'Radiography', 'psychology', 'Fiqh fatwa ',
       'DIPLOMA TESL', 'Koe', 'Fiqh', 'Islamic Education', 'Nursing ',
       'Pendidikan Islam'], dtype=object)

In [12]:
target = df['Do you have Depression?']
target

0      Yes
1       No
2      Yes
3      Yes
4       No
      ...
96      No
97     Yes
98     Yes
99      No
100     No
Name: Do you have Depression?, Length: 101, dtype: object

In [13]:
df.tail(5)

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Do you have Depression?,Do you have Anxiety?
96,0,21.0,BCS,1,3.750,No,1
97,1,18.0,Engineering,2,3.245,Yes,1
98,0,19.0,Nursing,3,3.750,Yes,0
99,0,23.0,Pendidikan Islam,4,3.750,No,0
100,1,20.0,Biomedical science,2,3.245,No,0

In [14]:
one_hot_encoded = pd.get_dummies(df['What is your course?'], prefix='course')
df = pd.concat([df, one_hot_encoded], axis=1)
df.head(5)

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Do you have Depression?,Do you have Anxiety?,course_ALA,course_Accounting,course_BCS,...,course_Pendidikan Islam,course_Pendidikan Islam,course_Pendidikan islam,course_Psychology,course_Radiography,course_TAASL,course_Usuluddin,course_engin,course_koe,course_psychology
0,0,18.0,Engineering,1,3.245,Yes,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,21.0,Islamic education,2,3.245,No,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,19.0,BIT,1,3.245,Yes,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,22.0,Laws,3,3.245,Yes,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,23.0,Mathemathics,4,3.245,No,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
df.isnull().sum()

Choose your gender                0
Age                               1
What is your course?              0
Your current year of Study        0
What is your CGPA?                0
Do you have Depression?           0
Do you have Anxiety?              0
course_ALA                        0
course_Accounting                 0
course_BCS                        0
course_BENL                       0
course_BIT                        0
course_Banking Studies            0
course_Benl                       0
course_Biomedical science         0
course_Biotechnology              0
course_Business Administration    0
course_CTS                        0
course_Communication              0
course_DIPLOMA TESL               0
course_Diploma Nursing            0
course_ENM                        0
course_Econs                      0
course_Engine                     0
course_Engineering                0
course_Fiqh                       0
course_Fiqh fatwa                 0
course_Human Resources            0
course_Human Sciences             0
course_IT                         0
course_Irkhs                      0
course_Islamic Education          0
course_Islamic education          0
course_KENMS                      0
course_KIRKHS                     0
course_KOE                        0
course_Kirkhs                     0
course_Koe                        0
course_Kop                        0
course_Law                        0
course_Laws                       0
course_MHSC                       0
course_Malcom                     0
course_Marine science             0
course_Mathemathics               0
course_Nursing                    0
course_Pendidikan Islam           0
course_Pendidikan Islam           0
course_Pendidikan islam           0
course_Psychology                 0
course_Radiography                0
course_TAASL                      0
course_Usuluddin                  0
course_engin                      0
course_koe                        0
course_psychology                 0
dtype: int64

In [16]:
df['Age'].fillna(df['Age'].mean(), inplace=True)  
df.isnull().sum()

Choose your gender                0
Age                               0
What is your course?              0
Your current year of Study        0
What is your CGPA?                0
Do you have Depression?           0
Do you have Anxiety?              0
course_ALA                        0
course_Accounting                 0
course_BCS                        0
course_BENL                       0
course_BIT                        0
course_Banking Studies            0
course_Benl                       0
course_Biomedical science         0
course_Biotechnology              0
course_Business Administration    0
course_CTS                        0
course_Communication              0
course_DIPLOMA TESL               0
course_Diploma Nursing            0
course_ENM                        0
course_Econs                      0
course_Engine                     0
course_Engineering                0
course_Fiqh                       0
course_Fiqh fatwa                 0
course_Human Resources            0
course_Human Sciences             0
course_IT                         0
course_Irkhs                      0
course_Islamic Education          0
course_Islamic education          0
course_KENMS                      0
course_KIRKHS                     0
course_KOE                        0
course_Kirkhs                     0
course_Koe                        0
course_Kop                        0
course_Law                        0
course_Laws                       0
course_MHSC                       0
course_Malcom                     0
course_Marine science             0
course_Mathemathics               0
course_Nursing                    0
course_Pendidikan Islam           0
course_Pendidikan Islam           0
course_Pendidikan islam           0
course_Psychology                 0
course_Radiography                0
course_TAASL                      0
course_Usuluddin                  0
course_engin                      0
course_koe                        0
course_psychology                 0
dtype: int64

In [17]:
df['gender']=df['Choose your gender']
df['year']=df['Your current year of Study']
df['cgpa']=df['What is your CGPA?']
df['anxiety']=df['Do you have Anxiety?']
df.drop(['Choose your gender','Your current year of Study','What is your CGPA?','Do you have Anxiety?','Do you have Depression?'],axis=1,inplace=True)
df.head(5)

,Age,What is your course?,course_ALA,course_Accounting,course_BCS,course_BENL,course_BIT,course_Banking Studies,course_Benl,course_Biomedical science,...,course_Radiography,course_TAASL,course_Usuluddin,course_engin,course_koe,course_psychology,gender,year,cgpa,anxiety
0,18.0,Engineering,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,3.245,0
1,21.0,Islamic education,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2,3.245,1
2,19.0,BIT,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,1,3.245,1
3,22.0,Laws,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,3.245,0
4,23.0,Mathemathics,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,4,3.245,0

In [18]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier()
rf_model.fit(df.drop(['What is your course?'],axis=1), target)

RandomForestClassifier()

In [19]:
df.drop(['What is your course?'],axis=1,inplace=True)

In [20]:
df.tail(5)

,Age,course_ALA,course_Accounting,course_BCS,course_BENL,course_BIT,course_Banking Studies,course_Benl,course_Biomedical science,course_Biotechnology,...,course_Radiography,course_TAASL,course_Usuluddin,course_engin,course_koe,course_psychology,gender,year,cgpa,anxiety
96,21.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,3.750,1
97,18.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2,3.245,1
98,19.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,3.750,0
99,23.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,4,3.750,0
100,20.0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,2,3.245,0

In [29]:
X=df
y=target

In [22]:
gender = float(input("Enter gender: "))
Age = int(input("Enter your age: "))
year = int(input("Enter the year: "))
cgpa= float(input("Enter your CGPA: "))
anxiety= int(input("Do you have anxiety?: "))
course = str(input("Enter your course: "))

new_data = pd.DataFrame(columns=X.columns)

new_data.loc[0, 'gender'] = gender
new_data.loc[0, 'Age'] = Age
new_data.loc[0, 'year'] = year
new_data.loc[0, 'cgpa'] = cgpa
new_data.loc[0, 'anxiety'] = anxiety

new_data[f'course_{course}'] = 1 if f'course_{course}' in new_data.columns else 0

new_data = new_data[X.columns]

new_data_filled = new_data.fillna(0)

if f'course_{course}' in new_data_filled.columns:
    predictions = rf_model.predict(new_data_filled)
    if predictions[0] == 'Yes':
        print(f"The predicted depression for {course} has been diagnosed with depression: {predictions[0]}")
    elif predictions[0] == 'No':
       print(f"The predicted depression for {course} has not been dianosed with depression: {predictions[0]}")
else:
    print(f"Please enter a valid course used in the model training.")
    
new_data

Enter gender: 1
Enter your age: 19
Enter the year: 1
Enter your CGPA: 3.49
Do you have anxiety?: 1
Enter your course: BIT
The predicted depression for BIT has been diagnosed with depression: Yes

,Age,course_ALA,course_Accounting,course_BCS,course_BENL,course_BIT,course_Banking Studies,course_Benl,course_Biomedical science,course_Biotechnology,...,course_Radiography,course_TAASL,course_Usuluddin,course_engin,course_koe,course_psychology,gender,year,cgpa,anxiety
0,19,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,3.49,1

In [24]:
gender = float(input("Enter gender: "))
Age = int(input("Enter your age: "))
year = int(input("Enter the year: "))
cgpa= float(input("Enter your CGPA: "))
anxiety= int(input("Do you have anxiety?: "))
course = str(input("Enter your course: "))

new_data = pd.DataFrame(columns=X.columns)

new_data.loc[0, 'gender'] = gender
new_data.loc[0, 'Age'] = Age
new_data.loc[0, 'year'] = year
new_data.loc[0, 'cgpa'] = cgpa
new_data.loc[0, 'anxiety'] = anxiety

new_data[f'course_{course}'] = 1 if f'course_{course}' in new_data.columns else 0

new_data = new_data[X.columns]

new_data_filled = new_data.fillna(0)

if f'course_{course}' in new_data_filled.columns:
    predictions = rf_model.predict(new_data_filled)
    if predictions[0] == 'Yes':
        print(f"The predicted depression for {course} has been diagnosed with depression: {predictions[0]}")
    elif predictions[0] == 'No':
        print(f"The predicted depression for {course} has not been dianosed with depression: {predictions[0]}")
else:
    print(f"Please enter a valid course used in the model training.")

Enter gender: 1
Enter your age: 19
Enter the year: 2
Enter your CGPA: 3.50
Do you have anxiety?: 0
Enter your course: Engineering
The predicted depression for Engineering has not been dianosed with depression: No

In [25]:
accuracy = rf_model.score(X, y)
print(f"Model Accuracy: {accuracy:.2f}")

Model Accuracy: 0.99

# Hence Model accuracy is 99%

now lets make a ensemble model using CatBoosting and RandomForest

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from catboost import CatBoostClassifier
from sklearn.preprocessing import LabelEncoder

In [30]:
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rf_classifier.fit(X,y)

catboost_classifier = CatBoostClassifier(iterations=100, learning_rate=0.1, verbose=False)
catboost_classifier.fit(X,y)

In [34]:
 import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from catboost import CatBoostClassifier

def get_user_input(training_columns):
    gender = float(input("Enter gender: "))
    Age = int(input("Enter your age: "))
    year = int(input("Enter the year: "))
    cgpa = float(input("Enter your CGPA: "))
    anxiety = int(input("Do you have anxiety? (1 for Yes, 0 for No): "))
    course = str(input("Enter your course: "))

    new_data = pd.DataFrame(columns=training_columns)

    new_data.loc[0, 'gender'] = gender
    new_data.loc[0, 'Age'] = Age
    new_data.loc[0, 'year'] = year
    new_data.loc[0, 'cgpa'] = cgpa
    new_data.loc[0, 'anxiety'] = anxiety

    new_data[f'course_{course}'] = 1 if f'course_{course}' in new_data.columns else 0

    new_data = new_data[training_columns]

    new_data_filled = new_data.fillna(0)

    return new_data_filled

def ensemble_prediction(input_data):
    rf_proba = rf_classifier.predict_proba(input_data)[0]
    catboost_proba = catboost_classifier.predict_proba(input_data)[0]

    combined_proba = (rf_proba + catboost_proba) / 2
    predicted_class = combined_proba.argmax()

    return predicted_class

user_data = get_user_input(X.columns)  

predicted_class = ensemble_prediction(user_data)

if predicted_class == 1:
    print("The predicted depression for the user has been diagnosed.")
else:
    print("The predicted depression for the user has not been diagnosed.")

Enter gender: 1
Enter your age: 19
Enter the year: 1
Enter your CGPA: 3.49
Do you have anxiety? (1 for Yes, 0 for No): 1
Enter your course: bIT
The predicted depression for the user has been diagnosed.

In [35]:
 import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from catboost import CatBoostClassifier

def get_user_input(training_columns):
    gender = float(input("Enter gender: "))
    Age = int(input("Enter your age: "))
    year = int(input("Enter the year: "))
    cgpa = float(input("Enter your CGPA: "))
    anxiety = int(input("Do you have anxiety? (1 for Yes, 0 for No): "))
    course = str(input("Enter your course: "))

    new_data = pd.DataFrame(columns=training_columns)

    new_data.loc[0, 'gender'] = gender
    new_data.loc[0, 'Age'] = Age
    new_data.loc[0, 'year'] = year
    new_data.loc[0, 'cgpa'] = cgpa
    new_data.loc[0, 'anxiety'] = anxiety

    new_data[f'course_{course}'] = 1 if f'course_{course}' in new_data.columns else 0

    new_data = new_data[training_columns]

    new_data_filled = new_data.fillna(0)

    return new_data_filled

def ensemble_prediction(input_data):
    rf_proba = rf_classifier.predict_proba(input_data)[0]
    catboost_proba = catboost_classifier.predict_proba(input_data)[0]

    combined_proba = (rf_proba + catboost_proba) / 2
    predicted_class = combined_proba.argmax()

    return predicted_class

user_data = get_user_input(X.columns)  

predicted_class = ensemble_prediction(user_data)

if predicted_class == 1:
    print("The predicted depression for the user has been diagnosed.")
else:
    print("The predicted depression for the user has not been diagnosed.")

Enter gender: 1
Enter your age: 19
Enter the year: 2
Enter your CGPA: 3.50
Do you have anxiety? (1 for Yes, 0 for No): 0
Enter your course: Engineering
The predicted depression for the user has not been diagnosed.

In [37]:
rf_accuracy = rf_classifier.score(X, y)
catboost_accuracy = catboost_classifier.score(X, y)

print(f"Random Forest Classifier Accuracy: {rf_accuracy:.2f}")
print(f"CatBoost Classifier Accuracy: {catboost_accuracy:.2f}")

ensemble_accuracy = (rf_accuracy + catboost_accuracy) / 2
print(f"Ensemble Model Accuracy: {ensemble_accuracy:.2f}")

Random Forest Classifier Accuracy: 0.99
CatBoost Classifier Accuracy: 0.98
Ensemble Model Accuracy: 0.99